@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300;400;500;600;700;800;900;1000&display=swap');

@font-face {
    font-family: "Ysabeau Infant";
    src: local("YsabeauInfant_light"),
        url("./font/YsabeauInfant-VariableFont_wght.ttf") format("truetype");
    font-weight: light;
}

/* ---- Custom CSS Start ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ysabeau Infant";
    font-weight: 500;
    /* background: #e9e9e9 !important; */
    background: url(../img/backimg.jpg) 100% center no-repeat;
    height: 100%;
    font-size: 16px;
    background-attachment: fixed;
}


/* ---- Header CSS Start ---- */

.navbar-brand .name-logo {
    width: 8vmin;
}

.cus-navbar .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding-right: 0px !important;
}

.cus-collapse .nav-item::after {
    content: '';
    display: block;
    border-bottom: 2px solid #ff602c;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.cus-collapse .nav-item:hover::after {
    transform: scaleX(1);
}

.social-media-links {
    display: flex;
    align-items: center;
}

.social-media-links .social-media-icons {
    display: flex;
    padding: 0;
    width: auto;
    margin-bottom: 0;
}

.social-media-links .social-media-icons li {
    list-style: none;
}

.social-media-links .social-media-icons li a {
    padding: 5px 10px;
    text-decoration: none;
}

.social-media-icons li:first-child a {
    padding-left: 0px;
}

.social-media-links .social-media-icons li a img {
    width: 18px;
    height: auto;
}

/* ---- Header CSS End ---- */


/* ---- Banner CSS Start ---- */

.cus-container {
    padding-top: 12vmin;
    padding-bottom: 12vmin;
}

.container.cus-container:before {
    content: '';
    width: 250px;
    height: 250px;
    position: fixed;
    background: #0000000d;
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
    padding: 39px;
    z-index: -1;
}

.cus-container .row {
    align-items: center;
}

.cus-container .row .cus-col-1 {
    display: flex;
    justify-content: center;
    padding-top: calc(20px + 2vmin);
    padding-bottom: calc(20px + 2vmin);
}

.cus-container .row .cus-col-1 .main-heading {
    font-size: calc(5px + 5vmin);
    font-weight: 900;
    line-height: .8;
    margin-bottom: 3vmin;
}

.cus-container .row .cus-col-1 .hello-text {
    font-size: 2.5vmin;
    position: relative;
    padding-left: 4vmin;
}

h5.hello-text:before {
    content: ' ';
    width: 2vmin;
    height: 2px;
    position: absolute;
    left: 7px;
    top: 50%;
    background: black;
}

.cus-container .row .cus-col-1 .main-heading .myname {
    color: #ff602c;
}

.cus-container .row .cus-col-1 .user-role {
    font-size: 4vmin;
    font-weight: 600;
}

.cus-container .row .cus-col-1 .user-role a {
    text-decoration: none;
    color: #ff602c;
}

.download-resume {
    background: #fff;
    margin-top: 1vmin;
    font-size: 14px;
    font-weight: 600;
}

.cus-container .row .cus-col-2 {
    display: flex;
    justify-content: center;
}

.iam-img {
    padding: 20px;
    background: #edc0c026;
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* outline: 1px solid #ff602c;
    outline-offset: -5px; */
    position: relative;
}


.iam-img .iam {
    width: 45vmin;
}

/* ---- Banner CSS End ---- */


/* ---- About CSS Start ---- */
.cus-container-about {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

/* -- Common heading for all menu start -- */

.common-heading {
    font-size: calc(10px + 3vmin);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5vmin;
}

/* -- Common heading for all menu end -- */

.cus-container-about .cus-row-about .col-about {
    padding-bottom: calc(20px + 3vmin);
}

.col-about .about-para-section {
    padding-bottom: calc(10px + 1vmin);
}

.col-about .about-sub-heading {
    font-size: calc(10px + 2vmin);
    font-weight: 600;
    margin-bottom: 4px;
}

.col-about .about-sub-heading span {
    color: #ff602c;
}

.personal-info {
    padding-bottom: 30px;
}

.personal-info .info-item {
    background: #00000014;
    border-radius: 4px;
    padding: calc(15px + 1vmin);
}

.skill-info .skill-progress .progress {
    height: calc(15px + 1vmin);
}

.skill-info .skill-progress .progress .progress-bar {
    background-color: #4d271aba !important;
    padding-bottom: 2px;
}

.skill-info .skill-progress .cus-progress .progress-bar {
    background-color: #808080 !important;
}

.col-exp-about .sub-col-exp-about {
    padding-bottom: 20px;
}

.col-exp-about .exp-about-box {
    background: #00000014;
    border-radius: 4px;
    padding: calc(15px + 1vmin);
}

.education-title h4 {
    font-size: 20px;
    padding-bottom: 15px;
}

.col-exp-about .exp-about-box .exp-about-item {
    padding-bottom: 30px;
    position: relative;
    padding-left: 20px;
}

.col-exp-about .exp-about-box .exp-about-item:last-child {
    padding-bottom: 0px
}

.exp-about-item:before {
    content: '';
    width: 1px;
    height: 100%;
    background: #ff602c;
    position: absolute;
    left: 0px;
}

.col-exp-about .exp-about-box .exp-about-item .circle-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #ff602c;
    border-radius: 100%;
    left: -7px;
}

.circle-dot:after {
    transform: scale(0);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 100%;
    animation: circleMotion 2s infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes circleMotion {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.2);
    }
}

.col-exp-about .exp-about-box .exp-about-item .cal-date {
    display: flex;
    align-items: flex-start;
}

.col-exp-about .exp-about-box .exp-about-item .cal-date span {
    line-height: 1.1;
    padding-left: 5px;
}

.col-exp-about .exp-about-box .exp-about-item .inst-name {
    padding-bottom: 10px;
}

.col-exp-about .exp-about-box .exp-about-item .description-about p {
    margin-bottom: 0px;
}

/* ---- About CSS End ---- */


/* ---- Portfolio CSS Start ---- */

.cus-container-portfolio {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.cus-container-photo-gallery {
    padding-left: 0;
    padding-right: 0;
}

.cus-container-photo-gallery .item {
    position: relative;
}

.cus-container-photo-gallery .item .project-name {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #0000005e;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    pointer-events: none;
}

/* ---- Portfolio CSS End ---- */

.lb-closeContainer {
    position: absolute;
    top: -35px;
    right: 10px;
}

/* ---- Contact CSS Start ---- */

.cus-container-contact {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.contact-para-section .contact-sub-heading-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(10px + 2vmin);
    
}
.contact-para-section .contact-sub-heading-sec.cus-form-sub-heading{
    padding-top: calc(20px + 2vmin);
    
}

.contact-para-section .contact-sub-heading-sec h4 {
    color: #ff602c;
    text-transform: capitalize;
}

.contact-para-section .contact-sub-heading-sec p {
    text-transform: uppercase;
}

.cus-row-contact .col-contact-2 {
    display: flex;
    justify-content: center;
}

.cus-row-contact .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000014;
    border-radius: 4px;
    padding: calc(10px + 1vmin);
    min-width: 351px;
}

.cus-row-contact .contact-box img {
    width: 30px;
    padding-bottom: 20px;
}

.cus-row-contact .contact-box p {
    margin-bottom: 0px;
}

.cus-row-contact .contact-box a {
    text-decoration: none;
    color: #222;
}

/* -- Contact Form CSS Start -- */
.contact-inform.form {
    margin-bottom: 5vmin;
    padding: 20px;
    background-color: #00000014;
}

.form-control {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
}

.form-label {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    left: 1rem;
    top: 0.75rem;
    padding: 0 0.25rem;
    color: #222;
    background: #fff;
    transition: all 0.3s ease;
}

.form-input {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    resize: none;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    border: none;
    color: #222;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.form-input::placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
}

.form-input:focus {
    outline: none;
    border: none;
}

.form-input:focus~.form-label {
    top: -0.75rem;
    left: 1rem;
    z-index: 5;
    font-size: 0.875rem;
    font-weight: 500;
    color: #222;
    transition: all 0.2s ease-in-out;
}

.form-input:not(:placeholder-shown).form-input:not(:focus)~.form-label {
    top: -0.75rem;
    left: 1rem;
    z-index: 9;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.form-textarea {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    resize: none;
    width: 100%;
    height: 70px;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    border: none;
    color: #222;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.cus-form-textarea {
    height: 70px;
}

.form-textarea::placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
}

.form-textarea:focus {
    outline: none;
    border: none;
}

.form-textarea:focus~.form-label {
    top: -0.75rem;
    left: 1rem;
    z-index: 5;
    font-size: 0.875rem;
    font-weight: 500;
    color: #222;
    transition: all 0.2s ease-in-out;
}

.form-textarea:not(:placeholder-shown).form-textarea:not(:focus)~.form-label {
    top: -0.75rem;
    left: 1rem;
    z-index: 9;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

/* -- Contact Form CSS End -- */


/* ---- Contact CSS End ---- */